<!DOCTYPE html>

{% extends "bootstrap/base.html" %}
{% block content %}
<div class = "container">
<h1>Select two PDFs</h1>
		<form action='/results' method="post">
			<input type='file' name='pdf1'><br>
			<input type='file' name='pdf2'><br>
			<!--<select name="activity">
				<option value="lccs">LCCS</option>
				<option value="gct">GCT</option>
			</select>-->
			<input type="radio" name="activity" value="lccs" checked>LCCS
			<input type="radio" name="activity" value="gct">GCT
			<br><br>
			<input type='submit' value='Select'>
		</form>
{% endblock %}
